@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");

div {
  border: 1px solid #242933;
}

body {
  background-color: #242933;
  opacity: 1;
  font-family: "Source Code Pro";
}

#Header {
  height: 100px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(0, 0, 0);
  text-align: center;
  color: #e5e9f0;
}

#MainContent {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #e5e9f0;
}

#Footer {
  width: 802px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
}

#FooterLeft {
  float: left;
  width: 49.5%;
  height: 50px;
  border: 1px solid #4c566a;
}

#FooterRight {
  float: right;
  width: 49.5%;
  height: 50px;
  border: 1px solid #4c566a;
}

#faq {
  font-size: 20;
}

@media only screen and (max-width: 998px) {
  #Footer,
  #MainContent,
  #Header {
    width: 100%;
  }
}
