@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");

div {
  border: 1px solid #242933;
}

body {
  background-color: #242933;
  opacity: 1;
  font-family: "Source Code Pro";
}

#Header {
  height: 100px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(0, 0, 0);
  text-align: center;
  color: #e5e9f0;
}

#MainContent {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #e5e9f0;
}

.button-container {
  font-family: "Source Code Pro";
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  padding: 20px 40px;
  border-radius: 8px;
  color: #e5e9f0;
  font-size: 28px;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.4s;
}

.button-5 {
  position: relative;
}

.button-5:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #e5e9f0;
  border-right: 3px solid #e5e9f0;
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.button-5:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: 3px solid #e5e9f0;
  border-left: 3px solid #e5e9f0;
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.button-5:hover:after,
.button-5:hover:before {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  transition: all 0.4s, opacity 0.1s;
  opacity: 1;
}

.Footer {
  width: 802px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
}

#FooterLeft {
  float: left;
  width: 49.5%;
  height: 50px;
  border: 1px solid #4c566a;
}

#FooterRight {
  float: right;
  width: 49.5%;
  height: 50px;
  border: 1px solid #4c566a;
}

a:link {
  color: #88c0d0;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #81a1c1;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #5e81ac;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #7094c0;
  background-color: transparent;
  text-decoration: underline;
}
</style > #faq {
  font-size: 20;
}

@media only screen and (max-width: 998px) {
  #Footer,
  #MainContent,
  #Header {
    width: 100%;
  }
}
